.side {
  padding-left: 0;
}

.order {
  margin-right: 0;
  padding-top: 3rem;
  margin-top: 3rem;
}

.centered {
  background: gray;
  color: white;
}

.centered a {
  color: white;
}

#doctor {
  width: 75%;
  margin: 15% auto;
}

.content {
    margin-left: 180px;
    padding: 0px 10px
}
