.footer-container {
  background: #919292;
  color: #ffffff;
  text-transform: uppercase;
  width: 100%;
  height: 273px;
}

.footer-container .column {
  float: left;
  width: 20%;
  margin: 0;
  position: relative;
  left: 10px;
}

/* .social {
  position: relative;
  left: 40%;
  display: flex;
}

.social a {
  margin: 10px;
} */
.footer-container > div {
  padding: 25px;
}

.footer-container > div:first-of-type {
  width: 28%;
}

p.title {
  text-align: left;
  font-size: 25px;
}

.text {
  text-align: left;
  font-size: 16px;
}

div.location {
  padding-top: 12px;
  display: inline-block;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #62d3ad;
  text-decoration: underline;
}

.menu {
  display: block;
  padding-top: 12px;
  text-align: left;
}

/* p.phone {
  padding-top: 10px;
} */

img.icons {
  padding-top: 12px;
  padding-left: 5px;
}
@media (max-width: 300px) {
  .footer-container {
    height: auto;
    margin-top: 0;
    background-color: #173d28;
  }

  .footer-container .column {
    width: 100%;
    margin: 0;
  }

  .footer-container > div:first-of-type {
    width: 100%;
  }

  /* .footer-container .location a:last-of-type {
    display: block;
    margin-top: 5px;
  } */

  .footer-container img {
    width: 10%;
  }
}
