.header {
  background: black;
}

.mainchat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}


.chat-bar {
  padding: 0.5rem;
  border: none;
  border-radius: 2rem;
  margin: 1rem 0;
  width: 90%;
  margin-left: 10px;
  /* border-radius: 20px; */
}

.chat-bar:focus {
  outline: none;
}

.chat-button {
  border: none;
    background: gray;
    color: white;
    display: inline-block;
    /* border: none; */
}
.chat-button:focus {
  border: none;
    outline: none;
}
.send-icon {
  font-size: 25px;
}

.chat-input {
  display: flex;
  margin-left: 5px;
  border-radius: 20px;
  width: 100%;
}
.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}
.chatBox {
display: flex;
flex-direction: column;
margin: 10% auto;
height: 70%;
width: 60%;
background: gray;
}

.chat-header {
  color: white;
  border: none;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.chat-icon a {
  height: 15px;
  color: white;
}


.chat-bar::placeholder {
  font-style: italic;
}

.chat-message {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.ref {
  font-size: 10px;
}

.message-box {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 5px 20px;
  /* color: white; */
  display: inline-block;
  max-width: 80%;
}

.backgroundLight {
  background: #f3f3f3;
  color: black;
}
@media screen and (max-width: 1000px) {
  .chat-box {
    width: 100%;
  }
  .chatBox {
    width: 75%;
    margin: 5%;
  }
  .message-box {
    width: 100%;
  }
  .chat-input { 
    width: 90%;
  }
}
