/* .navigation {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: 1px solid #E5E5E5; 
  height: 100%;
  background: gray;
  color: white;
  padding: 4%;
} */

.limk {
  color: black;
}

.navigation li {
  display: inline;
  list-style: none;
}

/* .mb-navigation {
  display: none;
} */

.edit-profile-button {
  height: 40vh;
  width: 100%;
  margin-left: 0;
}

.navigation hr {
  border: 1px solid white;
}


li {
  list-style: none;
}

.close-button {
  border: 0;
  background: none;
  float: right;
}

.close-button i {
  font-size: 2em;
}

.close-button :focus {
  outline: none;
}

.Modal {
  background: white;
  width: 70%;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  position: relative;
  padding: 5%;
}

.Overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center
}
/* 
.bxs-user {
  font-size: 100px;
} */

.navigation ul {
  padding-inline-start: 0;
  margin-bottom: 0;
}

.img-fluid {
  border: 2px solid white;
  padding: 2px;
  height: 100%;
}

.edit-button {
  border: none;
  background: gray;
  color: white;
}

.edit-button:hover{
  border: none;
  background: gray;
  color: white;
}

.edit-button {
  outline: none;
}

  .mb-navigation {
      height: 100%;
      width: 180px;
      position: fixed;
      z-index: 1;
      top: 70px;
      left: 0;
      overflow-x: hidden;
      border-right: 1px solid #E5E5E5;
  }

  .mb-navigation i{
    font-size: 40px;
  }
  
  .mb-navigation button{
    border: none;
    background: white
  }
  

  #side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .hamburger {
    display: block;
    margin: 10px;
  } 
 